Repository balena-io-modules/pinejs-client-js: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, resin-lint --typescript --fix

v5.6.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

🐛: Fix missing `deprecated.getStringParams` function
  core.ts
Due: resin-lint --typescript --fix

v5.6.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Make transformGetResult a method , to ease overriding the get method
  core.ts
Due: resin-lint --typescript --fix

v5.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  .lintstagedrc
  README.md
  package.json
Due: none

v5.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Generate optional builds for es2015/es2018 as well as the default es5
  .gitignore
  README.md
  index.js
  package.json
  src/index.ts
  test/test.coffee
  tsconfig.json
Due: resin-lint, resin-lint --typescript --fix

v5.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use `;` for expand options instead of `&`
  src/index.ts
  test/expand.coffee
Due: resin-lint, resin-lint --typescript --fix

Drop support for deprecated string based requests
  src/index.ts
Due: resin-lint --typescript --fix

Drop support for deprecated `query` method
  src/index.ts
Due: resin-lint --typescript --fix

Drop support for deprecated request overrides
  src/index.ts
Due: resin-lint --typescript --fix

Remove now unnecessary PinejsClientCoreFactory
  src/index.ts
  test/test.coffee
Due: resin-lint, resin-lint --typescript --fix

Switch to using native promises
  package.json
  src/index.ts
  test/test.coffee
Due: resin-lint, resin-lint --typescript --fix

Merge PinejsClientCore and PinejsClientCoreTemplate
  src/index.ts
Due: resin-lint --typescript --fix

Convert to async/await
  src/index.ts
Due: resin-lint --typescript --fix

Increase minimum es version to es2015
  .gitignore
  README.md
  index.js
  package.json
  tsconfig.json
Due: none

v6.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Drop unnecessary async from request()
  src/index.ts
Due: resin-lint --typescript --fix

v6.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for using named ids
  package.json
  src/index.ts
  test/options.coffee
Due: resin-lint, resin-lint --typescript --fix

v6.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add 'getOrCreate' method supporting natural keys
  src/index.ts
Due: resin-lint --typescript --fix

Utilize native named ids
  src/index.ts
Due: resin-lint --typescript --fix

Use `Object.keys` in preference to `hasOwnProperty` where applicable
  src/index.ts
Due: resin-lint --typescript --fix

Make use of `mapObj` helper in more places
  src/index.ts
Due: resin-lint --typescript --fix

v6.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove redundant ParamsObj/SubscribeParamsObj types
  src/index.ts
Due: resin-lint --typescript --fix

v6.1.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add `$filter: { a: { $count: 1 } }` sugar for $count in filters
  src/index.ts
  test/filter.coffee
Due: resin-lint, resin-lint --typescript --fix

v6.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove `PromiseObj` type, use `Promise<{}>` instead
  src/index.ts
Due: resin-lint --typescript --fix

Remove `PromiseResult` type, use `Promise<PromiseResultTypes>` instead
  src/index.ts
Due: resin-lint --typescript --fix

Improve return typing when id is passed to GET methods
  src/index.ts
Due: resin-lint --typescript --fix

Fix Poll.on typings
  src/index.ts
Due: resin-lint --typescript --fix

v6.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve return typing of `subscribe` method
  src/index.ts
Due: resin-lint --typescript --fix

v6.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add `$expand: { a: { $count: { ... } } }` sugar for $count in expands
  src/index.ts
  test/expand.coffee
Due: resin-lint, resin-lint --typescript --fix

Path conditions:
  resin-lint: any of: *.coffee
  resin-lint --typescript --fix: any of: *.ts
