Repository balena-io-modules/pinejs-client-js: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --fix"
	],
}

Add `options: { $count: { ... } }` sugar for top level $count
  src/index.ts
  test/filter.coffee
Due: balena-lint, balena-lint --typescript --fix

v6.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Deprecate `resource: 'a/$count'` and update typings to reflect it
  src/index.ts
Due: balena-lint --typescript --fix

Deprecate `$expand: { 'a/$count': {...} }`
  src/index.ts
Due: balena-lint --typescript --fix

v6.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix typing when id is specified to be `AnyObject | undefined`
  src/index.ts
Due: balena-lint --typescript --fix

v6.6.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve typings for request/post/put/patch/delete
  src/index.ts
Due: balena-lint --typescript --fix

v6.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix prepare $count typings
  src/index.ts
Due: balena-lint --typescript --fix

v6.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

POC
  src/index.ts
Due: balena-lint --typescript --fix

Update dev dependencies
  package.json
  src/index.ts
Due: balena-lint --typescript --fix

CI: Replace node 6/8 with 14
  .circleci/config.yml
Due: none

v6.7.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve $orderby typing to allow `[{a: 'desc'}, {b: 'asc'}]`
  src/index.ts
Due: balena-lint --typescript --fix

v6.7.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for $format
  package.json
  src/index.ts
  test/options.coffee
Due: balena-lint, balena-lint --typescript --fix

v6.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add 'getOrCreate' method supporting natural keys
  src/index.ts
Due: balena-lint --typescript --fix

v6.9.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve typings
  src/index.ts
Due: balena-lint --typescript --fix

v6.9.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dev dependencies
  package.json
  test/mocha.opts
Due: none

v6.9.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Explicitly specify return types for all functions
  package.json
  src/index.ts
Due: balena-lint --typescript --fix

v6.9.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  package.json
Due: none

v6.9.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Enable strict tsconfig options by default
  package.json
  src/index.ts
  tsconfig.json
Due: balena-lint --typescript --fix

v6.9.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Delete CODEOWNERS
  .github/CODEOWNERS
Due: none

Reformat with the latest prettier
  src/index.ts
Due: balena-lint --typescript --fix

v6.9.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add optional retry logic to client
  src/index.ts
Due: balena-lint --typescript --fix

v6.10.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Do not await the _request() result to allow enhanced promises downstream
  src/index.ts
Due: balena-lint --typescript --fix

v6.10.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove circleci
  .circleci/config.yml
Due: none
