Repository balena-io-modules/pinejs-client-js: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --fix

v6.10.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix $count typings to only allow $filter under it
  src/index.ts
Due: balena-lint --typescript --fix

v6.10.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Replace balenaCI with flowzone
  .github/workflows/flowzone.yml
  repo.yml
Due: none

Specify node 10 as the minimum supported node engine in the package.json
  package.json
Due: none

v6.10.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Flowzone: Use inherited secrets
  .github/workflows/flowzone.yml
Due: none

v6.10.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tests: Support `.only` & `.skip` in the higher level test functions
  test/filter.coffee
  test/options.coffee
  test/test.coffee
Due: balena-lint

v6.10.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Refactor the deprecation message definitions
  src/index.ts
Due: balena-lint --typescript --fix

v6.10.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for `$orderby: { a: { $count: ... }, $dir: 'asc' }` notation
  src/index.ts
  test/expand.coffee
  test/options.coffee
Due: balena-lint, balena-lint --typescript --fix

Deprecate non-$filter props inside `$expand: { a: { $count: {...}}}`
  src/index.ts
Due: balena-lint --typescript --fix

v6.11.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for `$filter: { $op: [{ $count: {} }, number] }` notation
  src/index.ts
  test/filter.coffee
Due: balena-lint, balena-lint --typescript --fix

Deprecate the $count: { $op: number } notation
  src/index.ts
Due: balena-lint --typescript --fix

Deprecate the 'a/count' notation in $orderby
  src/index.ts
Due: balena-lint --typescript --fix

v6.12.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update TypeScript to 4.9.3
  package.json
Due: none

v6.12.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix `$orderby: { a: { $count: ... }, $dir: 'asc' }` typings
  src/index.ts
Due: balena-lint --typescript --fix

v6.12.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add files to opts when are present as part of body
  package.json
  src/index.ts
Due: balena-lint --typescript --fix

CI: Convert tests to TypeScript
  package.json
  test/errors.coffee
  test/errors.ts
  test/expand.coffee
  test/expand.ts
  test/filter.coffee
  test/filter.ts
  test/options.coffee
  test/options.ts
  test/test.coffee
  test/test.ts
Due: balena-lint, balena-lint --typescript --fix

v6.12.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid an unnecessary function creation on each get() call
  src/index.ts
Due: balena-lint --typescript --fix

v6.12.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for $duration
  src/index.ts
  test/filter.ts
Due: balena-lint --typescript --fix

Respect the Retry-After header when clients define the getRetryAfterHeader option
  src/index.ts
Due: balena-lint --typescript --fix

Update dependencies
  .lintstagedrc
  package.json
  src/index.ts
  test/filter.ts
  tsconfig.dev.json
Due: balena-lint --typescript --fix

Improve typings
  src/index.ts
Due: balena-lint --typescript --fix

WIP
  src/index.ts
Due: balena-lint --typescript --fix

wip
  src/index.ts
Due: balena-lint --typescript --fix

wip: orderby string is type checked but not object
  src/index.ts
Due: balena-lint --typescript --fix

wip: orderby string is type checked but not object without $count
  src/index.ts
Due: balena-lint --typescript --fix

wip orderby typed
  src/index.ts
Due: balena-lint --typescript --fix

ts 5.4 compatible StringKeyOf ??
  src/index.ts
Due: balena-lint --typescript --fix

More cascade T
  src/index.ts
Due: balena-lint --typescript --fix

Path conditions:
  balena-lint: any of: *.coffee
  balena-lint --typescript --fix: any of: *.ts
